@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Font 'DM Sans' */
@layer base {
  body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
  }
}

/* ================= [ Custom Class ] ============== */
.base-form-input {
  @apply w-full h-full bg-transparent px-2 py-3 border-none focus:border-none focus:outline-none outline-none;
}

/* For disabled blue outline on all input field from flowbite */
input, textarea {
  @apply ring-0 focus:ring-transparent outline-none focus:outline-none border-0;
}

/* Custom scrollbar track */
/* width */
*::-webkit-scrollbar,
#expand-option::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
*::-webkit-scrollbar-track,
#expand-option::-webkit-scrollbar-track,
.overflow-y-auto::-webkit-scrollbar-track,
.overflow-x-auto::-webkit-scrollbar-track {
  background: #e2e8f0;
  border-radius: 30px;
}
/* handle */
*::-webkit-scrollbar-thumb,
#expand-option::-webkit-scrollbar-thumb,
.overflow-y-auto::-webkit-scrollbar-thumb,
.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #00abef;
  border-radius: 30px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover,
#expand-option::-webkit-scrollbar-thumb:hover,
.overflow-y-auto::-webkit-scrollbar-thumb:hover,
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #00abef;
}
